<body>
  <div class="container">
    <div class="raw">
      <img class="logo" src="http://s1.postimg.org/lkb7v6iy7/Screen_Shot_2015_04_09_at_9_05_07_PM.png">
      <p class="subtitle">Donde todos somos voluntarios</p>
    </div>
    <% if current_user %>
      <div class="container success-msg">
        <div class="col-lg-2">
          <img class="profile-img" src="<%= current_user.picture_url(size: :large) %>">
        </div>
        <div class="col-lg-10 text-col-10">
          <span class="thanks">Gracias <strong><%= current_user.name.partition(' ').first %></strong>!</span><br>
          <span class="beta-msg">Tus datos se guardaron exitosamente</span>
          <!--<%= link_to "Sign out", signout_path, id: "sign_out" %>-->
        </div>
      </div>  
    <% else %>
      <a href="/auth/facebook" class="btn btn-block btn-social btn-facebook">
        <i id="sign-in-icons" class="fa fa-facebook"></i>
        <b>Registrate a la Beta</b>
      </a>
    <% end %>
  </div>
  <div class="company">
    <img class="macrolab" src="http://s8.postimg.org/8g9kwbmph/weblogo_white.png">
  </div>
</body>