<body>
  <div class="container">
    <div class="raw">
      <p class="title">Generoso</p>
      <p class="subtitle">Where everybody is a volunteer</p>
    </div>
    <div class="raw">
      <% if current_user %>
        <img class="profile-img" src="<%= current_user.largeimage %>"><br>
        <span class="thanks">Gracias <strong><%= current_user.name.partition(' ').first %></strong>!</span><br>
        <span class="beta-msg">Tus datos quedan registrados para participar en la beta</span>
        <!--<%= link_to "Sign out", signout_path, id: "sign_out" %>-->
      <% else %>
        <a href="/auth/facebook" class="btn btn-block btn-social btn-facebook">
          <i id="sign-in-icons" class="fa fa-facebook"></i>
          <b>Registrate para la Beta</b>
        </a>
      <% end %>
    </div>
  </div>  
</body>