
body{
  background-color: #8CD2F4;
}

.container{
  text-align: center;
  margin-top: 250px;
}

.title{
  font-family: 'Alfa Slab One';
  font-size: 100pt;
  color: white;
  line-height: 110px;
}

.logo{
  width: 700px;
}

.subtitle{
  font-family: 'Alfa Slab One';
  color: white;
  font-size: 20pt;
  margin-top: -30px;
}

.success-msg{
  margin-top: 100px; 
  width: 60%; 
  padding: 0;
  padding-left: 90px;
}

.btn-facebook{
  width: 300px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-top: 60px;
  height: 50px;
  font-size: 15pt;
  padding-top: 10px;
  transition: all .20s ease-in-out;
}

.btn-facebook:hover,
.btn-facebook:focus{
  color: white;
  transition: all .20s ease-in-out;
}

.btn-facebook i{
  padding-top: 8px;
  border-right: none !important;
  margin-left: 15px;
}

.btn-facebook b{
  margin-left: 20px;
}

.profile-img{
  border-radius: 110px;
  width: 120px;
  height: 120px;
  margin-right: 20px;
}

.text-col-10{
  text-align: left !important; 
  padding-left: 50px;
}

.thanks{
  font-family: 'Exo 2', sans-serif;
  font-size: 20pt;
  font-weight: bold;
  color: #3C3C3C;
}

.beta-msg{
  font-family: 'Exo 2', sans-serif;
  font-size: 20pt;
  font-weight: bold;
  color: white;
}

.company{
  position: fixed;
  bottom: 35px;
  left: 50%;
  transform: translate(-50%, 0);
}

.macrolab{
  width: 200px;
}

@media (max-width: 1200px){
  .success-msg{
    margin-top: 100px;
    padding-left: 0px !important;
  }
  .text-col-10{
    text-align: center !important;
    padding-left: 0px;
  }
}

@media (max-width: 800px){
  .logo{
    width: 100%;
  }

  .subtitle{
    margin-top: -20px;
  }

}

@media (max-width: 500px){
  .subtitle{
    font-size: 18pt;
    margin-top: -10px;
  }
}

@media (max-height: 900px){
  .container{
    text-align: center;
    margin-top: 100px;
  }
}

@media (max-height: 720px){
  .company{
    position: relative;
    bottom: 20px;
    text-align: center;
    margin-top: 150px;
    left: 0px;
    transform: translate(0, 0);
  }
}