<!DOCTYPE html>
<html>
<head>
  <title>Generoso</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <link rel="shortcut icon" href="http://s1.postimg.org/61dry2anf/Smiley.png"/>
  <link href='//fonts.googleapis.com/css?family=Exo+2:800,400,900' rel='stylesheet' type='text/css'>
  <link href='//fonts.googleapis.com/css?family=Alfa+Slab+One' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<!-- Remove facebook hash -->
<script type="text/javascript"> 
  var idx=window.location.toString().indexOf("#_=_"); if (idx>0) { window.location = window.location.toString().substring(0, idx); } 
</script>
<!-- -->

<%= yield %>

</body>
</html>
